*.pyc
error.txt
*.mat
*.zip
.svn*
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
*.class
.settings/
*/.settings/
.loadpath
target/*
/target/
tar.gz

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
